:root {
    --font-family-primary: Arial, sans-serif;
    --font-family-secondary: Verdana, sans-serif;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  .boton {
    min-width: 120px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    background: #3498db;
    border: 2px solid #2980b9;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .boton:hover {
    background: #2980b9;
  }
  
  .boton:after {
    height: 100%;
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #2980b9;
  }
  
  body,
  form,
  input,
  label,
  button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
  }
  
  h1,
  h2 {
    color: #333;
    font-weight: bold;
    font-family: var(--font-family-primary);
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Resto de tu CSS ... */
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"] {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #3498db;
    background-color: transparent;
    transition: border-bottom 0.3s ease-in-out;
    text-align: center;
    color: #333;
  }
  
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="tel"]:hover,
  input[type="number"]:hover {
    border-bottom: 2px solid #2980b9;
  }
  
  ::placeholder {
    opacity: 0.6;
    font-family: var(--font-family-secondary);
  }
  
  .file-input-label {
    color: #fff;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    align-items: center;
  }
  
  .file-input-label:hover {
    background-color: #2980b9;
  }
  
  .file-input-button {
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .file-input-label:hover .file-input-button {
    background-color: #2980b9;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }
  
  button[type="submit"],
  button[type="reset"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    transition: background-color 0.3s ease-in-out;
    margin: 0 5px;
    font-weight: bold;
  }
  
  button[type="submit"]:hover,
  button[type="reset"]:hover {
    background-color: #2980b9;
  }
  
  #mensaje-eliminado {
    display: none;
    color: green;
    font-size: 14px;
    margin-top: 10px;


  #result-container {
    margin: 15px;
    color: #333;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    font-family: var(--font-family-primary);
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
  }
  
  #result-container h3 {
    margin-bottom: 15px;
    color: #333;
  }
  
  #result-container p {
    margin: 0;
  }
  
  .img-container {
    text-align: center;
    margin-top: 15px;
  }
  
  .img-container img {
    width: 100%;
    max-width: 200px;
    border: 2px solid #3498db;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .img-container img:hover {
    transform: scale(1.05);
  }
  
  .form-ancle-container {
    margin-top: 20px;
  }
  
  .form-ancle {
    color: #3498db;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .form-ancle:hover {
    background-color: #f0f0f0;
  }
   }